---
granule: CREC-2013-07-08-pt1-PgH4180
date: 2013-07-08
edition: CREC
section: HOUSE
page: H4180
citation: 159 Cong. Rec. H4180
---

# ELIMINATING VERIFICATION

**Speaking:** Burgess, Michael C. (B001248) [R-TX]

```
                        ELIMINATING VERIFICATION

  (Mr. BURGESS asked and was given permission to address the House for 
1 minute and to revise and extend his remarks.)
  Mr. BURGESS. Mr. Speaker, last week, the administration once again 
adjusted the Affordable Care Act in an effort to try to save this 
takeover of the Nation's health care.
  On Friday, the latest change was announced: The new health care 
exchanges will not verify an individual's income for the year as was 
originally planned.
  By eliminating the verification requirement, how will the government 
determine who gets health care subsidies? They're going to use the 
honor system--because no one would lie about something like that.
  This will open the exchanges to a staggering amount of potential 
fraud. It is also clearly a political move. The administration has made 
it clear that they want as many people as possible to sign up for the 
exchanges so they can reap the public relations benefits of talking 
about the popularity of said exchanges.
  All of this comes at a time when the Federal health programs are 
already stricken with fraud, and now the administration wants to 
introduce a new program. This new program is based on self-attestation. 
Whatever happened to ``trust, but verify''?

                          ____________________
```
